.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}
.note{
    font-size: 15px;
    color: black;
    font-family: 'Inconsolata', monospace;
}
body{
    background-size: cover;
}
canvas{
    border-radius: 10px solid black;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}